:root {
	--color-primary: #1a394e;
	--color-action: #22577a;
	--color-secondary: #93c4e6;
	--color-rentapp-black: #06121a;
	--color-rentapp-red: #ff6b4d;
	--color-grey: #eaedea;
	--color-danger: red;
	--color-white: white;
	--color-light-grey: #f6f6f6;
	--color-dark-grey: #a0a0a0;
}

html {
	overflow-x: hidden;
}

body {
	overflow-y: visible;
}